@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --light: #ffffff;
  --bg-color: rgba(129, 38, 38, 0.5);
  --bg-color-dark: rgba(129, 38, 38, 1);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(235, 154, 154);
  font-family: 'Montserrat', sans-serif;
}

/** MAIN CONTENT **/

.main-content {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 10px;
  width: 75vw;
  padding: 10px;
}

/** CITY FORM **/

.city-form {
  background-color: var(--bg-color);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.city-form__label {
  font-size: 20px;
  align-self: center;
}

.city-form__input {
  border-radius: 3px;
  border: none;
  padding: 3px;
  margin: 5px;
}

.city-form__submit {
  border-radius: 3px;
  border: none;
  padding: 3px;
  margin: 5px;
  color: var(--light);
  background-color: var(--bg-color-dark);
  font-weight: 700;
}

/** CURRENT WEATHER **/

.current-weather {
  background-color: var(--bg-color);
  color: var(--light);
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
}

.current-weather__main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-weather__icon-weather {
  font-size: 10rem;
}

.current-weather__icon-extra {
  align-self: flex-end;
}

.current-weather__extra-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

.extra-info__label {
  font-weight: 700;
}

.extra-info__label {
  align-self: flex-start;
}

